/* Semantic UI-mods */
@font-face {
font-family: 'Circular Std Book';
src: url('./font/CircularStd-Book.woff') format('woff');
}

@font-face {
font-family: 'Circular Std Bold';
src: url('./font/CircularStd-Bold.woff') format('woff');
}

@font-face {
font-family: 'Blender Pro Book';
src: url('./font/Blender-Pro-Book.woff') format('woff');
}

@font-face {
font-family: 'Blender Pro Bold';
src: url('./font/Blender-Pro-Bold.woff') format('woff');
}

body, .text {
    font-family: 'Circular Std Book' !important;
}
.header {
  font-family: 'Blender Pro Bold' !important;
}

.ks-purple {
  background-color: rgb(102,49,143) !important;
}

.invert {
  filter: invert(100%);
}
